<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Довідка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        h3 {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        p {
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif
        }
        li {
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>

</head>
<body style="background-color: rgb(53, 156, 53);">
<main>
    <div class="container mt-5 p-5 bg-white" style="border-radius: 20px;">
        <h3>Ввід інгредієнтів</h3>
        <hr/>
        <p>Найперше Вам потрібно ввести список інгредієнтів, що є у Вас у наявності, а також їхню масу. Суть роботи досить проста:
            система відхиляє страви, які містять невказані в списку інгредієнти, а також не враховує рецепти, для приготування яких потрібно
            недостатньо маси вказаного інгредієнта.</p>
        <p>Всі інгредієнти поділені на категорії. Обравши категорію, видається список інгредієнтів, які
            власне і потрібно обрати. Також потрібно звернути увагу на опції підбору. Можна обрати повний збіг
            або присутність одного невказаного інгредієнту. Все просто: у першому випадку лише один сторонній інгредієнт вилучає
            страву зі списку пропонованих, а в другому присутність невказаного дозволяє все ж отримати рецепт у списку, оскільки
            велика ймовірність, що відсутній компонент можна легко докупити.</p>
        <p>Наступним буде встановлення коефіцієнту білків/жирів/вуглеводів/цукрів - БЖВЦ. Важливо, щоб людина харчувалася різноманітно
            і в раціоні були урівноважені співвідношення основних класів органічних сполук.
            Для кожної людини він різний. Даний параметр може бути налаштований наступним чином:
        </p>
        <ul>
            <li>Вказати програмі, що даний параметр просто ігнорувати;</li>
            <li>Отримати дані про коефіцієнт БЖВЦ із параметрів користувача, сформованих при реєстрації;</li>
            <li>Вказати БЖВЦ вручну</li>
        </ul>
        <p>У першому випадку, програма видаватиме навіть страви, які грубо порушують баланс БЖВЦ з розрахунком,
            що користувач сам нормалізує його впродовж дня. Другий випадок передбачає використання коефіцієнту з бази даних, який сформованих
            відповідно до способу життя, кількості та інтенсивності навантажень, фізичних параметрів тіла тощо. В останньому випадку потрібно
            вказати у відповідних полях числа. Для білків, жирів та вуглеводів є обмеження, а саме не можна вписати число більше за 50,
            а також негативні числа та нуль. У випадку цукрів треба вписати відсоткове співвідношення стосовно загально спожитих калорій.
            Наприклад 10% у відповідній графі означатимуть, що зі 100 калорій приблизно 10 припадають на цукри. Для цього потрібно 2.5 грамів
            цукру (4 ккал на грам). Тобто, якщо рецепт передбачає приготування страви із сумарною калорійністю 300 ккал, то вона не повинна містити
            більше 7.5 грамів цукру.
        </p>
        <p>Якщо Ви не бажаєте витрачати багато часу на приготування страви, Вам потрібно встановити ліміт по часу приготування.
            Для цього просто встановити години і хвилини у відповідних полях. Якщо рецепт в базі вимагає для його приготування часу більше ніж
            встановлено, то він просто ігноруватиметься і у виводі представлений не буде.
        </p>
        <p>Останнім кроком буде встановлення опції "білково-вуглеводного вікна". Дана страва передбачає високий вміст білків та швидких
            вуглеводів для того, щоб відновити запас глікогену в м'язах після тренувань, а також насичити організм таким будівельним матеріалом як білки.
            Щоб підрахувати потребу користувача, програма отримує з бази дані про його масу тіла. Відносно неї вираховується потреба у білках (маса тіла
            поділена на 2 і чисельний результат приймається у грамах) і у швидких вуглеводах (білки помножені на 2/3). Вміст цукрів має бути не меншим за
            70% від усіх вуглеводів. Не менш важливим є обмежити вміст жирів в даній страві, а саме до 20% від вмісту білків.
        </p>
        <p>Розглянемо приклад підрахунку критеріїв для БВВ. Маємо користувача масою 80 кг. Звідси нам потрібно 40 г. білка. Дана страва не повинна містити
            більше 40/5 = 8 грамів жирів. Цукрів потрібно 40/3*2 = 26.7 грамів. При цьому загальна кількість вуглеводів не має перевищувати
            26.7*100/70 = 38.1 грамів.
        </p>
        <p>Окрім цього система ще фільтрує страви за стилем харчуванням. Їх є декілька, а саме:
        <ul>
            <li>Вегетеріанець - фільтруються рецепти, що містять м'ясо;</li>
            <li>Веган - фільтруються страви з інгредієнтами тваринного походження;</li>
            <li>Редутаріанець - вміст м'яса не має перевищувати 10% у страві.</li>
        </ul>
        </p>
        <p>
            Є ще спортивний стиль, але він розглядається у статті "розрахунок меню на день".
        </p>
        <p>Після встановлення вище вказаних параметрів користувач повинен натиснути кнопку "Почати підбір". В результаті буде отримано перелік
            страв, які відповідають критеріям. Якщо користувачу сподобалася певна страва, він може натиснути на сердечко. Воно зафарбується
            в червоний колір і рецепт буде додано в улюблені. Таким чином користувач може наступний раз просто переглянути збережені рецепти
            замість пошуку знову.
        </p>
        <div class="text-center mt-4">
            <a th:href="@{/}" class="btn btn-success">Назад</a>
        </div>
    </div>
</main>
<br>
<footer class="footer" style="padding-bottom: 0px; margin-bottom: 0px; bottom: 0px;">
    <div class="container-fluid bg-dark text-center" style="height: 100%;">
        <span class="text-muted">©All rights reserved 2020-2021</span>
    </div>
</footer>
</body>
</html>


