<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<div th:fragment="navcopy">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/mainUser}">Головна</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/allDishes}">Всі рецепти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/allIngredients}">Всі інгредієнти</a>
        </li>
    </ul>
</div>
</body>
</html>